
:host {
  flex-grow: 1;
  max-width: 900px;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.text {
  max-width: 600px;
  height: 100%;
  padding: 20px;
  border: 1px solid #e4dede;
  background-color: #fff;
  font-size: 1.5em;
  letter-spacing: -2px;

  span {
    display: inline-block;
    margin-left: 10px;
  }

  .selected {
    position: relative;
    background-color: #000;
    color: #fff;
  }

  .selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: var(--cursor);
    height: 100%;
    width: 3px;
    animation: blink 1s ease infinite;
  }

  .tab {
    width: 20px;
  }

  @keyframes blink {
    0%, 100% { background-color: #fff; }
    50% { background-color: #000; }
  }

}
