:host {
  flex-grow: 1;
  max-width: 900px;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.text {
  max-width: 600px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;

  .selected {
    background-color: #000;
    color: #fff;
  }

  .b {
    font-weight: bold;
  }

  .i {
    font-style: italic;
  }

  .u {
    text-decoration: underline;
  }

}
